<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Asset/jQuery/jquery-1.12.3.js"></script>
    <script src="~/Asset/CommonJS/Common.js"></script>
</head>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
