@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
<script src="~/Asset/index/index.js"></script>
<h2>index</h2>
<div>用户名<input type="text" id="account"/></div>
<div>密码<input type="password" id="password" /></div>
<input type="button" value="登陆" id="btn_login"onclick="login()"/>
