@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Content.cshtml";
}

<script>
    function pwdCheck() {
        var pwd=$("#pwd1").val();
        if (pwd != "" && pwd == $("#pwd2").val())
        {
            var params={pwd:pwd};
            $.DoAjax("/HomeSub/PasswordChange", params, function (jsonData) {
                alert(jsonData.msg);
            }, "post", true);
        }
        else
        {
            alert("密码输入有误。")
        }
    }

</script>

<div style="margin-top:30px;">
    输入新密码：<input id="pwd1" type="password" />
    再次输入新密码：<input id="pwd2" type="password" />
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="pwdCheck()">保存密码</a>

</div>
